* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

.links {
  float: right;
  margin-right: 10px;
  text-align: justify;
}

ul > li {
  display: inline-block;
  margin-right: 7px;
}

.links > li > a {
  text-decoration: none;
  font-size: 1.1rem;
}

.signin a {
  background-color: blue;
  color: #fff;
  padding: 5px;
}
